body {
    background-color: chartreuse;
}
h1 {
    color: blue;
    
}
#h1-ralambo {
    color: rgb(14, 197, 118);
}
#h1-ranavalona {
    color: brown;
}
.h1-section {
    color: rgb(30, 138, 152);
}

