body {
    background-color: #93B7D5;
}
.corps{
    margin-left: 50px;
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.image:hover{
    cursor: pointer;
}
.information {
    margin-left: 40px;
}
h1 {
    font-size: 20px;
}
p.information{
    color:#FFFFFF;
    line-height: 10px;
}
.experience {
    margin-left: 40px;
}
p.experience{
    color:#FFFFFF;
    line-height: 10px;
}
.etude{
    display: flex;
}
h3.formation{
    color: #553636;
    text-decoration: underline;
    text-align: center;
}
.formation{
    flex: 1;
    margin: 10px;
}
.formation-1{
    flex: 1;
    margin: 10px;
    background-color:rgba(0, 255, 255, 0.4 ); 
}
.formation-2{
    flex: 1;
    margin: 10px;
    background-color: rgba(0, 255, 255, 0.4 ); 
}
.formation-3{
    flex: 1;
    margin: 10px;
    background-color: rgba(0, 255, 255, 0.4 ); 
}
.formation-4{
    flex: 1;
    margin: 10px;
    background-color: rgba(0, 255, 255, 0.4 ); 
}
p.formation{
    color:#FFFFFF;
    line-height: 10px;
}
a.download{
    color: #ffffff;
    outline: none;
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.4 );
    
}
a.download:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }
a.download:active {
    background: #96a839;
    color: #cdfeaa;
  }