@font-face {
    font-family: 'Inter-VariableFont_slnt';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter-VariableFont_slnt';
    font-weight: 400, 700, 800;
}

body {
    margin: 150px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
    color: hsl(236, 13%, 42%);
}

.menu li :hover {
    color: hsl(5, 85%, 63%);
}

p {
    font-size: 15px;
}

.menu li a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.corp {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.img img {
    width: 800px;
}

.corp-flex-1 {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.corp-flex-1 h1 {
    color: hsl(240, 100%, 5%);
}

.corp-flex2 {
    width: 400px;
}

.corp-flex2 h2 {
    color: hsl(35, 77%, 62%);
    width: 30%;
}

.flex h3 {
    color: hsl(36, 100%, 99%);
}

.flex h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);

}

.flex p {
    color: hsl(233, 8%, 79%);
}

.corp-flex-1 h1 {
    font-size: 30px;
}

.paragraphe {
    width: 400px;
}

.paragraphe {
    color: hsl(233, 8%, 79%);

}

.flex {
    margin: 20px;
}

.corp-flex2 {
    line-height: 3em;
    background-color: hsl(240, 100%, 5%);
    height: auto;
}

.btn {
    width: 70%;
    height: 30px;
    border: none;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);

}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.image img {
    width: 100px;
    height: auto;
}

.footer-flex {
    display: flex;
    width: 400px;
}

.text {
    margin-left: 30px;
}

.text h2 {
    color: hsl(233, 8%, 79%);
    font-size: 30px;
    width: 30%
}

.text h3 {
    color: hsl(240, 100%, 5%);
}

.text h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);

}

.text p {
    color: hsl(233, 8%, 79%);
}